.section-contact {
  &__figure {
    height: 200px;

    img {
      @include image-cover();
    }
  }

  &__map {
    height: 400px;
    background: #f7f7f7;
  }

  @media (min-width: 1024px) {
    &__figure,
    &__map {
      height: 100%;
    }
  }
}
