@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

$font: 'Roboto Condensed', 'sans-serif';

$color-primario: #18a50b;
$color-secundario: #0000;
$color-text: #484848;

$negro: #000;
$blanco: #fff;

$w-light: 300;
$w-regular: 400;
$w-bold: 700;

$fz-small:12pt;
$fz-medium:14pt;
$fz-normal: 22pt;
$fz-large:32pt;
$fz-ultra-large:36pt;
