.reveal {
  outline: none !important;
}

.grid-container {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.button,
button,
a {
  outline: none !important;
}

select {
  background-image: none !important;
}
